.lp-container {
   background: linear-gradient(rgba(0, 0, 0, 0) 100%, #000),
      url('./assets/landing-page-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: all 0.3s ease-in;
}

.lp-container > header,
.lp-container > footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.logo-text {
   font-family: Pacifico, cursive;
   font-size: 1.5rem;
   text-decoration: none;
   color: #fffbfa;
}

.login {
   color: #fffbfa;
   text-decoration: none;
   transition: all 0.3s ease-in;
}

.login:hover {
   text-decoration-line: underline;
   text-decoration-color: #d86048;
   transition: text-decoration-color 0.3s ease-in;
   color: #d86048;
}

.cta {
   display: flex;
   flex-direction: column;
   width: 90%;
   max-width: 900px;
   height: auto;
   margin-left: 300px;
   transition: all 0.3s ease-in;
}

.cta-text > div {
   font-family: cocogoose, kanit, sans-serif;
   font-size: 3rem;
   font-weight: 400;
   text-align: left;
   line-height: 3rem;
   color: #fffbfa;
}

.cta-text > p {
   font-family: 'DM Serif Display', serif;
   text-align: left;
   font-size: 1.5rem;
   font-weight: 400;
   color: #d86048;
   margin: 20px 0 10px;
}

.cta-button {
   font-size: 1rem;
   font-family: inherit;
   font-weight: 400;
   color: #fff;
   background-color: #333;
   padding: 10px 20px 10px 20px;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
}

.cta-button:hover {
   background-color: #33333373;
}

footer > nav > ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   padding: 0;
   margin: 0;
}

footer > p {
   font-size: 0.8rem;
   font-weight: 400;
   color: #fffbfa;
}

footer > nav > ul > li > a {
   font-size: 0.8rem;
   font-weight: 400;
   text-decoration: none;
   margin: 0 7px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
   .cta {
      margin-left: 20px;
   }

   footer > nav > ul {
      flex-direction: column;
   }
}
