input {
   font-family: inherit;
   font-size: 1rem;
   width: auto;
   padding: 12px 20px;
   margin: 50px 0;
   box-sizing: border-box;
   cursor: default;
}
input::placeholder {
   color: #837c7c;
}
